body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

#score, #options, #results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.score {
  
}
